body {
    margin: 0;
    background: black;
    overflow: hidden;
    text-align: center;
    font-family: Arial;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    top: 100px;
}

h1 {
    color: gold;
    font-size: 40px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background: red;
    color: yellow;
    border-radius: 10px;
    border: none;
}
